<!DOCTYPE html>    
<html>    
<head>    
    <title>Registration Form</title>    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">  
</head>    
<body background="https://coolbackgrounds.io/images/backgrounds/index/disco-dba865f1.png">    
    <h2>Registration</h2><br>    
    <div class="login">    
    <form id="login" method="get" action="login.php">  
        <label><b>Name     
        </b><br>
        </label>    
        <input type="text" name="Uname" id="Uname" placeholder="Username">    
        <br><br>  
        <label><b>User Name     
        </b>    
        </label>    
        <input type="text" name="Uname" id="Uname" placeholder="Username">    
        <br><br>    
        <label><b>Password     
        </b>    
        </label>    
        <input type="Password" name="Pass" id="Pass" placeholder="Password">    
        <br><br>    
        <input type="button" name="log" id="log" value="Register">
        <br><br>
        <a href="/login"><input type="button" name="log" id="log" value="Back to Login"></a>          
        <br><br>    
    </form>     
</div>    
</body>    
</html>    